{% extends home.html %}

{% block contenct %}

<section id="about">
    <h2>About Us</h2>
    <p> We are Katwai Foundation. Our main objective is to transform the kifes of the less dfortunate in the society. <br>
    Our activities include offering support to those needy students who strive in payinfg their school fees, provinding essential needs to the students more so our girls. <br> 
    We also provide studying amenities to our students in the institutions such as reading materials like books, pens. <br>
    Providing a conducive studying environment for them by donating chairs and tables to various institutions, donating food to the institutions among others. <br>
    We again do provide shelter to the homeless by erecting up stuctures at their residential places. </p>
</section>
{% endblock %}